@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar CSS code  */

.App {
  text-align: center;
}

nav {
  background-color: #333;
  position: relative;
  padding: 10px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #010001;
  width: 100%;
}

.logo {
  font-size: 24px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
  margin-right: 10px;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

/* Css code for the empty cart container that animate start here*/

.empty-cart-container img {
  animation-name: fall;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  transform: rotate(-70deg);
}

@keyframes fall {
  0% {
    transform: rotate(0deg);
    transform: translateX(80px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
    transform: rotate(-50deg);
  }
}

/* Css code for the empty cart container that animate end here*/

/* Css code for responsive navbar start here */

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .logo {
    font-size: 12px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 3;
  }

  .nav-list.open {
    transform: scaleY(1);
    opacity: 1;
  }

  .menu-icon.open {
    transform: rotate(90deg);
  }
}

/* Css code for responsive navbar end here */


/* Css code for loader start here */
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 10px;
  height: 150px;
 }
 
 .loading span {
  width: 4px;
  height: 80px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 
 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }
/* Css code for loader end here */